body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table.table tbody tr td, table.table thead tr td {
  text-align: center;
}

button.btn-xs {
  width: 25px;
}

.calendar h1 {  
  text-align: center;
}

.increasemonth {
    cursor: pointer;
    float: right;
}

.decreasemonth {
    cursor: pointer;
    float: left;
}